<div *ngIf="members">
  <div class="row">
    <div *ngFor="let member of members" class="col-md-2 d-flex align-items-stretch" style="padding: 5px;">
      <div class="card mb-5 cardClass d-flex flex-column" style="min-height: 50px;">
        <div class="card-img-wrapper">
          @if (mainPhoto(member)) {
            <img
                style="height: 100%; width: 100%; object-fit: cover; object-position: center;"
                [src]="mainPhoto(member)"
                alt=""
                class="card-img-top"
          />
          }@else {
            <img
                style="height: 100%; width: 100%; object-fit: cover; object-position: center;"
                [src]="'../../../assets/user.png'"
                alt=""
                class="card-img-top"
                />
          }
        

          <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
              <button routerLink="/members/{{member.userName}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            </li>
          </ul>
        </div>
        <div class="card-body d-flex flex-column justify-content-between p-1 m-2">
          <h6 class="card-title text-center mb-1">
            <i class="fa fa-user me-2"> {{member.userName}}</i>
          </h6>
          <p class="card-text text-muted text-center">{{member.city}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
