<form [formGroup]="registerForm" autocomplete="off">
  <h2 class="text-center text-primary">SignUp</h2>
  <hr>

  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>

  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'password'"
    [type]="'password'"></app-text-input>
    
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'confirmPassword'"
    [type]="'password'"></app-text-input>

  <div class="text-center">
    <button class="btn btn-primary me-2" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>
{{registerForm.value | json}}
{{registerForm.valid | json}}